@import "base/base";
@import "base/settings";
@import "components/header";
@import "components/logIn";
@import "components/content-container";
@import "components/summary";
@import "components/text-input";
@import "components/inputs";
@import "components/form";
@import "components/list";
@import "components/visibility";
@import "components/button";


body {
  padding: $s-size;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: gray;
}

a {
  color: #00B7FF;
}
