.form {
  background-color: #cacccd;
  padding: $s-size;
  display: flex;
  flex-direction: column;
  >* {
    margin-top: $s-size;
  }

  //button {
  //  background-color: $blue;
  //  color: $dark-blue;
  //  border-radius: 3px;
  //  border: none;
  //  font-size: $m-size;
  //  font-weight: bold;
  //  width: 13rem;
  //  padding: 6px 20px;
  //}
}
