.list-header {
  list-style: none;
  background: $off-white;
  border: 2px solid darken($off-white, 30%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $s-size 0 0 ;


  //a {
  //  background-color: $blue;
  //  color: $off-white ;
  //  border-radius: 3px;
  //  border: none;
  //  font-size: $m-size;
  //  font-weight: bold;
  //  width: 13rem;
  //  padding: 6px 20px;
  //  text-decoration: none;
  //  text-align: center;
  //}

  ul {
    padding: 0;
    margin: 0;
    //border: 2px solid darken($off-white, 30%);
  }

  li:last-child {
    font-style: italic;
  }

  li {
    word-break: break-all;
    margin: 0;
    padding: 0.5rem $m-size;
    list-style: none;
    background: $off-white;
    //border-bottom: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 2rem;
    }

  }

}
